*{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family:'poppin' Consolas;
}
body{
      background-color:#909cff;
}
#logo{
      font-size: 2rem;
      font-weight: 600;
      
}
#as{
      float: right;
      margin-right: 2rem;
      font-size: 2rem;
      font-weight: 600;
      
}
.head{
      width: 100%;
      line-height: 80px;
      background-color: aqua;
}
.head img{
    margin-left: 0.8rem;
    
}
#l{
      width: 70%;
      height: 100%;
      float: left;
}
#log{
      width: 30%;
      float: right;
      height: 400px;
      background-color:white;
      display: flex;
      align-items: center;
      justify-content: center;
}
#main{
    width: 80%;
    height: 80%;
    
}
#main input{
    margin-top: 12px;
    width: 100px;
    
}
#btn{
    width: 50px;
    height: 25px;
    float: right;
    margin-right: 50px;
    margin-top: 12px;
}

.menu{
      width: 100%;
      line-height: 60px;
      background-color: black;
      
}
.menu ul li{
      display: inline-block;
      font-size: 20px;
      font-weight: 900;
      color: white;
      margin-left: 20px;
      
}
.hero{
      width: 100%;
      height: 400px;
      background-color: azure;
}
.not{
      width: 100%;
      height: 300px;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      flex-direction: row;
      
      margin-top: 25px;
}
.box{
      width: 30%;
      height: 90%;
      background-color: white;
      margin-left:1px;
      border: 2px solid red;
      
      
}
.box1{
      width: 99%;
      height: 90%;
      text-align: center;
}
.box1 ul li{
      margin-top: 12px;
      color: blue;
      list-style-type: square;
}
.heading{
      font-size: 20px;
      color: black;
      font-weight: 900;
      margin-top: 20px;
}
    
